In [2]:
import pandas as pd

In [3]:
# Sample DataFrames (replace with your actual data)
cpi_annual = pd.read_csv('Cleaned Datasets\\Consumer Price Index\\Consumer_Price_Index_Annually.csv')
currency_strength_annual = pd.read_csv('Cleaned Datasets\\Currency Strength\\aed_to_usd_annual.csv')
population_annual = pd.read_csv('Cleaned Datasets\\Population\\Population_Estimates_and_Growth_by_Gender.csv')
rents_annual = pd.read_csv('Cleaned Datasets\\Rents & Transactions\\rents_annual.csv')
transactions_annual = pd.read_csv('Cleaned Datasets\\Rents & Transactions\\transactions_annual.csv')
guests_by_hotel_annual = pd.read_csv('Cleaned Datasets\\Tourism\\Guests_by_Hotel_Type_by_Region_Pivoted.csv')
hotel_establishment_and_rooms_rating_annual = pd.read_csv('Cleaned Datasets\\Tourism\\Hotel_Establishments_and_Rooms_by_Rating_Type_Pivoted.csv')
hotel_establishment_main_indicators_annual = pd.read_csv('Cleaned Datasets\\Tourism\\Hotel_Establishments_Main_Indicators_Pivoted.csv')
world_development_indicator_annual = pd.read_csv('Cleaned Datasets\\World Development Indicators\\World_Development_Indicator_Pivoted.csv')

# CPI on Rents

In [5]:
# Merge DataFrames using 'Time Period' as the key
cpi_on_rents_df = pd.merge(rents_annual, currency_strength_annual,  left_on='Year', right_on='Year', how='outer', suffixes=('', '_currency'))


# Drop duplicate 'Year' columns
cpi_on_rents_df = cpi_on_rents_df.loc[:, ~cpi_on_rents_df.columns.duplicated()]

# Print the merged DataFrame
print(cpi_on_rents_df)

       Year  Version                Area  Is Free Hold? Property Type  \
0      1991      New           Jabal Ali      Free Hold          Unit
1      1993      New     Al Qusais First  Non Free Hold          Unit
2      1998      New      Al Saffa First  Non Free Hold          Unit
3      1998      New      Jumeirah First  Non Free Hold          Unit
4      2000      New             Al Wasl  Non Free Hold         Villa
...     ...      ...                 ...            ...           ...
50869  2027  Renewed         Al Murqabat  Non Free Hold          Unit
50870  2029  Renewed  Trade Center First  Non Free Hold          Unit
50871  2107      New            Al Raffa  Non Free Hold          Unit
50872  2108  Renewed            Al Raffa  Non Free Hold          Unit
50873  2109  Renewed            Al Raffa  Non Free Hold          Unit

      Property Sub Type                 Usage               Nearest Metro  \
0                  Flat           Residential               Harbour Tower
1                School  Educational facility       STADIUM Metro Station
2                School  Educational facility     Noor Bank Metro Station
3                School  Educational facility  Business Bay Metro Station
4                 Villa           Residential  Business Bay Metro Station
...                 ...                   ...                         ...
50869          Showroom            Commercial  Salah Al Din Metro Station
50870          Showroom            Commercial  Trade Centre Metro Station
50871              Flat           Residential     Al Fahidi Metro Station
50872              Flat           Residential     Al Fahidi Metro Station
50873              Flat           Residential     Al Fahidi Metro Station

             Nearest Mall              Nearest Landmark   Contract Amount  \
0      Ibn-e-Battuta Mall  Sports City Swimming Academy             28500
1      City Centre Mirdif   Dubai International Airport            500000
2              Dubai Mall                Downtown Dubai           3062900
3              Dubai Mall                  Burj Khalifa           6118000
4              Dubai Mall                  Burj Khalifa             90000
...                   ...                           ...               ...
50869          Dubai Mall   Dubai International Airport  2400000024000000
50870          Dubai Mall                  Burj Khalifa    66429006642900
50871          Dubai Mall                  Burj Khalifa             51000
50872          Dubai Mall                  Burj Khalifa             51000
50873          Dubai Mall                  Burj Khalifa             51000

        Annual Amount Property Size (sq.m)  Count  Open  High  Low  Close  \
0               28500                    0      1   NaN   NaN  NaN    NaN
1              500000                18801      1   NaN   NaN  NaN    NaN
2             3062900                41298      1   NaN   NaN  NaN    NaN
3             6118000                    0      1   NaN   NaN  NaN    NaN
4               90000                    0      1   NaN   NaN  NaN    NaN
...               ...                  ...    ...   ...   ...  ...    ...
50869  48000004800000             15671568      2   NaN   NaN  NaN    NaN
50870  11071501107150         518,96206,99      2   NaN   NaN  NaN    NaN
50871           51000                 3,57      1   NaN   NaN  NaN    NaN
50872        47076,92                 3,57      1   NaN   NaN  NaN    NaN
50873           51000                 3,57      1   NaN   NaN  NaN    NaN

       Adj Close  Return
0            NaN     NaN
1            NaN     NaN
2            NaN     NaN
3            NaN     NaN
4            NaN     NaN
...          ...     ...
50869        NaN     NaN
50870        NaN     NaN
50871        NaN     NaN
50872        NaN     NaN
50873        NaN     NaN

[50874 rows x 20 columns]

In [13]:
cpi_on_rents_df.to_csv('cpi_on_rents.csv', index=False)